/* Gaya Umum */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff8dc; /* kuning pastel */
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navigasi */
nav {
  background-color: #f7c948;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
  color: #333;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #
